<div>
  <div class="intro">
    <h1>7th Annual Golf Classic</h1>
  </div>
  <p class="lead">
  A four man best ball-scramble type tournament.
  There will be competitions for longest drive, closest to pin,
  and longest putt. We will have lunch after the round; then we
  will have a raffle and silent auction. If you don’t want to
  play, you can join us for lunch afterwards.
  </p>
  <div class='intro'>
  <p>
    <%= link_to 'Come Out and Join Us!', '#', class: 'btn btn-lg btn-success' %>
    </p>
  </div>
</div>
