<section id="banner">
  <h2>11<sup>th</sup> Annual Golf Classic</h2>
  <p>Come join us in supporting the Shiloh House.
  </p>
  <ul class="actions">
    <li><a href="#" class="button special">Sign Up</a></li>
    <li><%= link_to 'Learn More', about_path, class: 'button special' %></li>
  </ul>
</section>
<!-- Main -->
<section id="main" class="container">
  <section class="box special">
    <header class="major">
      <h2>A Four Man Best Ball-Scramble Type Tournament</h2>
      <p>
      Come join us for competitions (like longest drive)!<br/>
      <br/>
     Golfing is optional. Lunch is after the round, followed by a raffle, and then a silent auction.
      </p>
    </header>
    <% # <span class="image featured"><%= image_tag('pic01.jpg') % ></span> %>
  </section>
  <!--
  <section class="box special features">
    <div class="features-row">
      <section>
        <span class="icon major fa-bolt accent2"></span>
        <h3>Magna etiam</h3>
        <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
      </section>
      <section>
        <span class="icon major fa-area-chart accent3"></span>
        <h3>Ipsum dolor</h3>
        <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
      </section>
    </div>
    <div class="features-row">
      <section>
        <span class="icon major fa-cloud accent4"></span>
        <h3>Sed feugiat</h3>
        <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
      </section>
      <section>
        <span class="icon major fa-lock accent5"></span>
        <h3>Enim phasellus</h3>
        <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
      </section>
    </div>
  </section>
  -->
  <div class="row">
    <div class="6u 12u(narrower)">
      <section class="box special">
        <span class="image featured"><%= image_tag('pic02.jpg') %></span>
        <h3>Signup</h3>
        <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
        <ul class="actions">
          <li><a href="#" class="button alt">Signup</a></li>
        </ul>
      </section>
    </div>
    <div class="6u 12u(narrower)">
      <section class="box special">
        <span class="image featured"><%= image_tag('pic03.jpg') %></span>
        <h3>Donate</h3>
        <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
        <ul class="actions">
          <li><a href="#" class="button alt">Donate</a></li>
        </ul>
      </section>
    </div>
  </div>
</section>
<!-- CTA -->
<section id="cta">
  <h2>Sign up for more information</h2>
  <p>Blandit varius ut praesent nascetur eu penatibus nisi risus faucibus nunc.</p>
  <form>
    <div class="row uniform 50%">
      <div class="8u 12u(mobilep)">
        <input type="email" name="email" id="email" placeholder="Email Address" />
      </div>
      <div class="4u 12u(mobilep)">
        <input type="submit" value="Sign Up" class="fit" />
      </div>
    </div>
  </form>
</section>
