<p>
Please join us for the
<strong>6th Annual Caring for Karen Sue Golf Classic</strong>
on September 12! A four man best ball-scramble type tournament.
There will be competitions for longest drive, closest to pin,
and longest putt. We will have lunch after the round; then we
will have a raffle and silent auction. If you don’t want to
play, you can join us for lunch afterwards.
</p>
