<div class="6u 12u(narrower)">
  <section class="box special">
    <span class="image featured"><%= image_tag("sponsors/#{sponsor.image}") %></span>
    <h3><%= sponsor.name %></h3>
    <p><%= sponsor.tagline %></p>
    <ul class="actions">
      <li><a href="<%= sponsor.url %>" class="button alt" target="_blank">Visit Site</a></li>
    </ul>
  </section>
</div>
