<section id="main" class="container">
<section class="box special">
    <header class="major">
      <h2>Caring for Karen Sue Sponsors</h2>
      <%= @sponsors.first.name %>
    </header>
  </section>
 <div class="row">
    <div class="6u 12u(narrower)">
      <section class="box special">
        <span class="image featured"><%= image_tag('pic02.jpg') %></span>
        <h3>Sponsor A</h3>
        <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
        <ul class="actions">
          <li><a href="#" class="button alt">Visit Site</a></li>
        </ul>
      </section>
    </div>
    <div class="6u 12u(narrower)">
      <section class="box special">
        <span class="image featured"><%= image_tag('pic03.jpg') %></span>
        <h3>Sponsor B</h3>
        <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
        <ul class="actions">
          <li><a href="#" class="button alt">Visit Site</a></li>
        </ul>
      </section>
    </div>
  </div>
</section>
