<section id="main" class="container">
  <div class="box">
    <h3>Sign Up</h3>
    <p>
    Please choose how you would like to lend your support.
    </p>
    <ul class="actions">
      <li><%= link_to 'Register to Play', new_donations_registration_path, class: 'button alt' %></li>
      <li><%= link_to 'Sponsor a Hole', new_donations_hole_sponsor_path, class: 'button alt' %></li>
      <li><%= link_to 'Join us for Lunch', new_donations_lunch_path, class: 'button alt' %></li>
      <li><%= link_to 'Send a Donation', new_donations_donation_path, class: 'button alt' %></li>
    </ul>
  </div>
</section>
