<section id="main" class="container">
  <div class="box">
    <h3>Sign Up</h3>
    <p>
    Please choose how you would like to lend your support.
    </p>
    <ul class="actions">
      <li><%= link_to 'Register to Play', donations_path, class: 'button alt' %></li>
      <li><%= link_to 'Sponsor a Hole', donations_path, class: 'button alt' %></li>
      <li><%= link_to 'Join us for Lunch', donations_path, class: 'button alt' %></li>
      <li><%= link_to 'Send a Donation', donations_path, class: 'button alt' %></li>
    </ul>
  </div>
</section>
