<section id="main" class="container">
  <div class="box">
    <p>
    <% if notice %>
      <%= notice %>
    <% end %>

    You should receive an email from us shortly.

    </p>

    <%= link_to 'Home', root_path, class: 'button alt' %>
  </div>
</section>
