<footer class="footer">
  <div class="container">
    <p class="text-muted">
    In honor of Karen Danielson &ndash; All proceeds go to the
    <%= link_to 'Shiloh House', 'http://www.shilohhouse.org', target: '_blank' %>
    </p>
  </div>
</footer>
