<footer id="footer">
  <ul class="icons">
    <li>
      <a href="<%= Site.facebook_url %>" class="icon fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
  </ul>
  <ul class="copyright">
    <li>&copy; <%= Site.title %>. All rights reserved.</li>
    <li>In honor of Karen Danielson</li>
    <% if current_charity.local? %>
      <li>All proceeds go to <%= current_charity.name %></li>
    <% else %>
      <li>All proceeds go to
        <%= link_to current_charity.name, current_charity.url, target: '_blank' %>
      </li>
    <% end %>
    <li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
  </ul>
</footer>
