<footer id="footer">
  <ul class="icons">
    <li>
      <a href="<%= Site.facebook_url %>" class="icon fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
  </ul>
  <ul class="copyright">
    <li>&copy; <%= Site.title %>. All rights reserved.</li>
    <li>In honor of Karen Danielson</li>
    <li>All proceeds go to the
      <%= link_to current_charity.name, current_charity.url, target: '_blank' %>
    </li>
    <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
  </ul>
</footer>
